<!DOCTYPE html>
<html>
<head>
    <title>
        Update Fishery Information
    </title>
</head>
<body>

<form action="/update_fishery" method="post">
    <label>Fishery</label>
    <div>
        <label>Name:</label>
        <input type="text" name="name" />
    </div>
    <div>
        <label>Location:</label>
        <input type="text" name="location" />
    </div>
    <div>
        <label>Catch Time:</label>
        <input type="text" name="catch_time" />
    </div>
    <div>
        <label>Territory:</label>
        <input type="text" name="territory" />
    </div>
    <div>
        <label>Fish Type:</label>
        <input type="text" name="fish_type" />
    </div>
    <label>Batch Size</label>
    <div>
        <label>Value:</label>
        <input type="text" name="value" />
    </div>
    <div>
        <label>Unit:</label>
        <input type="text" name="unit" />
    </div>
    <div>
        <label>Handling:</label>
        <input type="text" name="handling" />
    </div>
    <label>Temperature</label>
    <div>
        <label>Value:</label>
        <input type="text" name="value" />
    </div>
    <div>
        <label>Unit:</label>
        <input type="text" name="unit" />
    </div>

    <div>
        <input type="submit" value="Update Fishery" />
    </div>
</form>
</body>
</html>
